.swiper {
	overflow: hidden;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
	justify-content: space-between;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
.swiper-button-prev,.swiper-button-next{
	position: absolute;
	top: 55%;
	&:hover{
		filter: grayscale(50%);
	}
	
}
.swiper-button-prev{
	left: -55px;
	&:active,:not(:active){
		filter: grayscale(0%);
		animation: pushL .5s ease-in-out ;
	}
}
.swiper-button-next{
	right: -55px;
	&:active,:not(:active){
		filter: grayscale(0%);
		animation: pushR .5s ease-in-out ;
	}
}

@keyframes pushR {
	from{
		transform: translateX(-3px);
		filter: blur(5px);
	}
	to{		
		filter: blur(0px);
		transform: translateX(30px);
	}
}
@keyframes pushL {
	from{
		transform: translateX(3px);
		filter: blur(5px);
	}
	to{		
		filter: blur(0px);
		transform: translateX(-30px);
	}
}