.header{
	height: 96px;
	width: 100%;
	position: relative;
}

.header__row {
	display: flex;
	max-width: 1550px;
	margin: 0 auto;
}
.logo {
}
.header__menu {
	display: flex;
	padding-top: 20px;
	padding-left: 40px;
}
.menu__list {
	margin-left: 215px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.menu__soc_media{
	display: flex;
	justify-content: space-between;
	width: 110px;
	
}
.menu__adress {
	display: flex;
	font-size: 18px;
	span{
		font-weight: bold;
	}
}
.menu__btns{
	display: flex;
	justify-content: space-between;
	width: 375px;
}
.menu__btn{
	display: flex;
	width: 176px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border-radius: 14px;
	
	color: #FFF;
	font-size: 16px;
	font-weight: 900;
}
.menu__btn--blue {
background: #1C9197;
}
.menu__btn--orange {
	background: #E87000;
}



.navigate{
	max-width: 1550px;
	margin: 0 auto; 
	display: none;
	padding-top: 50px;
	.spollers__body{
		ul li{
			padding-top: 23px;
		}
	}
	.spollers__item{
		margin-left:70px ;
		position: relative;
	}
	.spollers__item-pb{
		padding-bottom: 100px;
	}
	.spollers__btn{
		
		width: 366px;
		height: 173px;
		border-radius: 24px;
		background: #1C9197 url('@img/Header/banner_icon.png') no-repeat;
		p{
			color: #FFF;
			font-size: 22px;
			font-weight: 900;
			line-height: 115%; /* 25.3px */
			letter-spacing: -0.242px;
			padding: 30px 39px 21px 30px;

		}
		button{
			margin: 0px 159px 30px 30px;
			width: 177px;
			height: 50px;
			border-radius: 14px;
			background: #EEEADE;


			text-align: center;
			font-size: 16px;
			font-weight: 900;
		}
	}
	.spollers{
		display: flex;
		justify-content: space-between;

	}
	.spollers__colm{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.spollers__colm-short{
		justify-content: start;
	}
	.spollers__item-pb{
		padding-bottom: 70px;
	}
	.spollers__item__icon{
		position: absolute;
		left: -65px;
		top: -10px;
	}
	.s2{
		//background: url('@img/Header/1header.png') left no-repeat;
	}
	.s3{
	}
	.s4{
		//background: url('@img/Header/1header.png') left no-repeat;
	}
	
	.s5{
		//background: url('@img/Header/1header.png') left no-repeat;
	}
	.s6{
		//background: url('@img/Header/1header.png') left no-repeat;
	}
	.s7{
		//background: url('@img/Header/1header.png') left no-repeat;
	}
	.spollers__title{
		font-size: 20px;
		font-weight: 900;
		text-decoration-line: underline;
		text-align: left;
	}	

}
.yellowBG{
	position: absolute;
	background: #EEEADE;
	height: 100px;
	width: 100%;
	top: 0;
	z-index: -1;
}
.header-open{
	height: 860px;
	
	
	.navigate{
		display: block;
	}
	.header__row {
		display: flex;
		
	}
	.logo {
	}
	.menu__body{
		display: none;
	}
	.header__menu {
		display: flex;
		padding-top: 20px;
		padding-left: 40px;
	}
	.menu__list {
		margin-left: 280px;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.menu__soc_media{
		display: flex;
		justify-content: space-between;
		width: 110px;
		
	}
	.menu__adress {
		display: flex;
		font-size: 18px;
		span{
			font-weight: bold;
		}
	}
	.menu__btns{
		display: flex;
		justify-content: space-between;
		width: 375px;
	}
	.menu__btn{
		display: flex;
		width: 176px;
		height: 50px;
		justify-content: center;
		align-items: center;
		border-radius: 14px;
		
		color: #FFF;
		font-size: 16px;
		font-weight: 900;
	}
	.menu__btn--blue {
	background: #1C9197;
	}

	
}