//====================================================================================================
.home{
	background: url("@img/bg.png") ;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 0;
	height: 870px;
	border-radius: 50px;
	margin: 0 10px;
}
//====================================================================================================
